
* {
    padding: 0;
    margin: 0;
}
.wrapper {
    box-sizing: border-box;
    border-radius: 8px;
    border: solid 1px #444;
    width: 25em;
    margin: auto;
    margin-top: 35px;
}

.top {
    
    border: none;
}

H2 {
    font-size: 2em;
    text-align: center;

    margin-top: 50px;
    margin-bottom: 30px;
}

.visor {
    display: flex;
    margin: auto;
    border: solid 1px #444;
    width: 20em;
    height: 3em;
    margin-bottom: 15px;
    
}

.left {
    
    width: 90px;
    padding-left: 5px;
    padding-top: 5px;

    font-size: 12px;
    
}

.right {
    
    width: 100%;
    text-align: right;
    padding-right: 8px;
    padding-top: 15px;
    font-size: 20px;
}

.ac {
    margin-top: 5px;
    max-width: 6em;
}



button {
    width: 3em;
    height: 3em;

    font-size: 1.5em;
    border: none;
    border-radius: 2em;

    margin: 1px;

}

button:hover {
    cursor: pointer;
    background-color: #444;
    color: #fff;
}
